*{
    margin: 0;
}

body{
    /* background-color: pink; */

    background-image: url("imagendorado.avif");

background-repeat: no-repeat ;
background-size: cover;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}
.contenedor_index{
    width: 50%;
    margin-left: 50%;
    margin-right: 50%;
}